html{
	background-color: #FF0066;
	

}

h1{
	color: #fff;
	font-family:'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	line-height: 48px;
	margin-top: 48px;

}

h1:hover{
	font-size: 5em;
}

h2{
color: #FFF;
font-family: "Josefin Sans",sans-serif;
text-align: center;
font-size: 2em;
font-weight: 300;
margin-bottom: 36px;
margin-top: -18px;

}

p{

color: #FFF;
font-family: "Josefin Sans",sans-serif;
text-align: center;
font-size: 1em;

}

/*Knappar*/

.button_flat {
	
	margin:0 auto;
	margin-top:24px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	vertical-align: middle;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	max-width: 300px;
	display: block;
	text-align: center;
}
.button_flat:active {
	padding-top: 15px;
    margin-bottom: -1px;
}
.button_flat, .button_flat:hover, .button_flat:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.button_flat-1 {
	background-color: #3fb8e8;
	box-shadow: 0px 3px 0px 0px #3293ba;
}
.button_flat-1:hover {
	background-color: #1baae3;
}
.button_flat-1:active {
	box-shadow: 0px 1px 0px 0px #3293ba;
}


.button_flat-2 {
	background-color: #f06060;
	box-shadow: 0px 3px 0px 0px #cd1313;
}
.button_flat-2:hover {
	background-color: #ed4444;
}
.button_flat-2:active {
	box-shadow: 0px 1px 0px 0px #cd1313;
}

.button_flat-3 {
	background-color: #ff6a80;
	box-shadow: 0px 3px 0px 0px #da0020;
}
.button_flat-3:hover {
	background-color: #ff566f;
}
.button_flat-3:active {
	box-shadow: 0px 1px 0px 0px #da0020;
}




.wrapper{
	width:100%;

}

.circle{
		position: relative;
	margin: 0 auto;
	height: 300px;
	width:300px;
	border-radius: 300px;
	background-color: #FF0066;
	cursor: pointer;

	overflow: hidden;
}

.image{
height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("Tjejerkodar_stickers.png");
}

.container{
	width: 100%;
}


/*Table*/
.table{

}

.row{

}

.cell{

}
